<% return '' unless @item.persisted? %>

<div style='margin: 30px 0px 30px 0px'>
  <h2>
    <%= _('PDF') %>
    <% if Rails.env.development? %>
      <small>
        (<%= link_to _('LaTeX source'), action: 'source', id: @item.id %>)
      </small>
    <% end %>
  </h2>


  <% if @item.attachment.present? %>
    <table style='vertical-align: bottom'>
      <tr>
        <td style='vertical-align: bottom'>
          <% download_url = download_path(@item) + '?t' + Time.now.to_i.to_s %>
          <%= link_to(download_url, target: '_blank') do %>
            <%= image_tag 'pdfreaders-f-22px.png', style: 'vertical-align: bottom' %>
            <%= _('Download') -%>
          <% end %>
        </td>
        <td style='vertical-align: bottom'>
          <%= link_to _('Atualizar'), { controller: 'admin/attachments', action: 'edit', id: @item.attachment.id, _popup: true }, class: 'iframe_with_page_reload' %>
        </td>
        <td style='vertical-align: bottom'>
          <%= link_to _('Remover'), { controller: 'admin/attachments', action: 'destroy', id: @item.attachment.id }, method: :delete, confirm: _('Tem certeza que quer remover?') %>
        </td>
      </tr>
      <tr>
        <td colspan='3' style='padding-top: 20px'>
          <%= content_tag :button, href: url_for(controller: 'admin/attachments', action: 'edit', id: @item.attachment.id, _popup: true, publish: true), class: 'iframe_with_page_reload' do %>
            <%= _('Publicar') %>
          <% end %>
        </td>
      </tr>
    </table>
  <% else %>
    <% if @item.subjects.empty? %>
      <p><em><%= _('É necessário adicionar assuntos antes de gerar um PDF') %></em></p>
    <% else %>
      <%= content_tag :button, href: url_for(controller: 'admin/attachments', action: 'new', _popup: true, resource: { official_diary_id: @item.id }), class: 'iframe_with_page_reload' do %>
        <%= _('Gerar PDF') %>
      <% end %>
    <% end %>
  <% end %>
</div>
