<% return '' unless @item.persisted? %>

<h2><%= _('Assuntos') %></h2>

<% if @item.published? %>
  <div class='published-warning'>
    <strong><%= _('Atenção.') %></strong>
    <%= _('Este diário oficial já foi publicado') %>
  </div>
<% end %>

<div style='margin-bottom: 1em'>
  <button class='iframe_with_page_reload' href='<%= url_for controller: 'admin/subjects', action: 'new', _popup: true, resource: { official_diary_id: @item.id } %>'><%= _('Adicionar assunto') %></button>
</div>

<% books = @item.subjects.group_by(&:book) %>
<table>
<% books.keys.sort_by(&:created_at).sort_by(&:position).each do |book| %>
  <tr>
    <td colspan='4' style='background: #eeeee5; border-bottom: 1px solid #babdb6'>
      <strong><%= book.name %></strong>
    </td>
  </tr>
  <% subjects = books[book].sort_by(&:created_at).sort_by(&:position) %>
  <% subjects.each do |subject| %>
    <tr>
      <td>
        <div class='actions'>
          <%= link_to _('Editar'), { controller: 'admin/subjects', action: 'edit', id: subject, _popup: true }, class: 'iframe_with_page_reload' %>
        </div>
      </td>
      <td><%= link_to subject.title, { controller: 'admin/subjects', action: 'edit', id: subject.id, _popup: true }, class: 'iframe_with_page_reload' %></td>
      <td><%= subject.department && subject.department.name %></td>
      <td>
        <div class='actions'>
          <%= link_to _('Remover'), { controller: 'admin/subjects', action: 'destroy', id: subject.id }, method: :delete, confirm: _('Tem certeza que quer remover?') %>
        </div>
      </td>
    </tr>
  <% end %>
<% end %>
</table>

<% unless @item.subjects.empty? %>
  <div style='margin-top: 1em'>
    <button class='iframe_with_page_reload' href='<%= url_for controller: 'admin/subjects', action: 'new', _popup: true, resource: { official_diary_id: @item.id } %>'><%= _('Adicionar assunto') %></button>
  </div>
<% end %>
