<% if params[:publish] %>

  <li id="<%= attribute_id %>">

  <p><strong><%= _('Instruções') %></strong></p>

  <p>
  <%= (_('1) Faça o <a href="%s" target="_blank">download</a> da versão atual do PDF') % download_path(@item.official_diary) + '?' + Time.now.to_i.to_s).html_safe %>
</p>

  <p>
  <%= _('2) Assine digitalmente o PDF') %>
  </p>

  <p>
  <%= _('3) Faça upload do PDF assinado no formulário abaixo') %>
  </p>

  <div>
    <table>
      <tr>
        <th><%= _('Upload do PDF assinado') %></th>
      </tr>
      <tr>
        <td>
          <%= form.file_field attribute %>
        </td>
      </tr>
    </table>
  </div>

  </li>

  <script type='text/javascript'>
    jQuery(function($) {
      $('h2').html("<%= _('Publicar Diário oficial') %>")
    });
  </script>
<% end %>
