<table class='table table-condensed table-bordered'>
  <tr>
    <th><%= _('Assunto') %></th>
    <th><%= _('Caderno') %></th>
    <th><%= _('Órgão') %></th>
    <th><%= _('Edição') %></th>
    <th><%= _('Data') %></th>
    <td>
      <div class='hidden-xs'>
      <%= _('Baixar') %>
      <%= render partial: 'shared/pdf_format' %>
      </div>
    </td>
  </tr>
<% @results.each do |subject| %>
  <tr>
    <td><%= link_to subject.title, subject_download_path(subject) %></td>
    <td><%= subject.book.name %></td>
    <td><%= subject.department && subject.department.name || '—' %></td>
    <td><%= _('Edição %d, ano %d') % [subject.official_diary.number, subject.official_diary.year] %> </td>
    <td><%= l subject.official_diary.date %></td>
    <td><%= link_to content_tag('strong', _("Download do diário oficial")), subject_download_path(subject) , class: 'btn btn-success btn-sm', :target => '_blank' %></td>
  </tr>
<% end %>
</table>
