<% content_for :title, _('Pesquisar') %>

<div class='visible-xs visible-sm'>
  <% unless @search.blank? %>
    <% if @results.total_entries > 0 %>
      <div class='alert alert-success'>
        <%= result_window(@results) %>
        <%= link_to _('Visualizar'), '#results' %>
      </div>
    <% else %>
      <div class='alert alert-danger'>
        Nenhum resultado encontrado para os critérios selecionados.
      </div>
    <% end %>
  <% end %>
</div>

<form id='search-form' class='form-inline' role='form' action="<%= search_path %>">

  <div class='row'>
    <div class='form-group col-md-4'>
      <label for='search_query' class=''><%= _('Pesquisa') %></label>
      <%= text_field(:search, :query, id: 'search_query', class: "form-control", placeholder: _('Pesquisa')) %>
    </div>

    <div class='form-group col-md-2'>
      <label for='search_date' class=''><%= _('Data') %></label>
      <%= text_field :search, :date, value: !@search.date.blank? && l(@search.date) || '', class: 'datepicker form-control', id: 'search_date', placeholder: _('Data') %>
    </div>

    <div class='form-group col-md-2'>
      <label for='search_number' class=''><%= _('Edição') %></label>
      <%= text_field :search, :number, class: 'form-control', id: 'search_number', placeholder: _('Edição')  %>
    </div>
  </div>
  <div class='row'>
    <div class='form-group col-md-4'>
      <label for='search_department_id' class=''><%= _('Órgão') %></label>
      <%= select :search, :department_id, [[_('Qualquer órgão'), '']] + Department.all.map { |d| [d.name, d.id] }, {}, id: 'search_department_id', class: 'form-control' %>
    </div>

    <div class='col-md-2'>
      <label for='search_book_id' class=''><%= _('Caderno') %></label>
      <%= select :search, :book_id, [[_('Qualquer caderno'), '']] + Book.all.map { |b| [b.name, b.id] }, {}, id: 'search_book_id', class: 'form-control' %>
    </div>

    <div class='col-md-2'>
      <label>&nbsp;</label>
      <%= submit_tag _('Pesquisar'), class: "btn btn-default", style: 'display: block' %>
    </div>
  </div>

</form>

<% unless @search.blank? %>
  <% if @results.total_entries > 0 %>
    <div class='alert alert-success'>
      <%= result_window(@results) %>
    </div>
    <%= paginate @results %>
    <div id='results'>
      <%= render partial: 'subject' %>
    </div>
    <%= paginate @results %>
  <% else %>
    <div class='alert alert-danger'>
      Nenhum resultado encontrado para os critérios selecionados.
    </div>
  <% end %>
<% end %>
