<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <em>Ano <%= @official_diary.year %>, edição <%= @official_diary.number %>, de <%= l(@official_diary.date) %></em>

    <h1>Conteúdo</h1>

    <% books = @official_diary.subjects.group_by(&:book) %>
    <% books.keys.sort_by(&:created_at).sort_by(&:position).each do |book| %>
      <h2><%= book.name %></h2>
      <ul>
      <% subjects = books[book] %>
      <% subjects.sort_by(&:created_at).sort_by(&:position).each do |subject| %>
        <li><%= subject.title %></li>
      <% end %>
      </ul>
    <% end %>

      <h1>Download</h1>

      Faça agora o download <a href="http://<%= @hostname %><%= download_path(@official_diary) %>">desta edição do diário oficial</a>.
  </body>
</html>
