<% content_for :title, period_title(@period) %>
<% content_for :header do %>
  <div class='hidden-xs'>

    <div class='btn-group'>
      <a class='btn btn-default dropdown-toggle active' data-toggle='dropdown' href='#'>
        <%= @period.year %>&nbsp;<span class="caret"></span>
      </a>
      &nbsp;
      <ul class='dropdown-menu'>
        <% OfficialDiary.all_years.each do |year| %>
          <li><%= link_to year, period_path(year, @period.month) %></li>
        <% end %>
      </ul>
    </div>

    <div class='btn-group'>
      <% month_selector_data(@period).each do |entry| %>
        <%= link_to entry[0], period_path(@period.year, entry[1]), :class => "btn btn-default #{entry[2]}" %>
      <% end %>
    </div>

    <%= link_to subscriptions_path, class: 'btn btn-info', title: _('Inscreva-se para receber notificações por email quando uma nova edição do diário oficial é publicada') do %>
      <span class="glyphicon glyphicon-envelope"></span>
      <%= _('Assinar') %>
    <% end %>

  </div>

  <div class='visible-xs'>
    <div class='btn-group'>
      <a class='btn btn-default dropdown-toggle active' data-toggle='dropdown' href='#'>
        <%= @period.year %>&nbsp;<span class="caret"></span>
      </a>
      &nbsp;
      <ul class='dropdown-menu'>
        <% OfficialDiary.all_years.each do |year| %>
          <li><%= link_to year, period_path(year, @period.month) %></li>
        <% end %>
      </ul>
    </div>

    <div class='btn-group'>
      <a class='btn btn-default dropdown-toggle active' data-toggle='dropdown' href='#'>
        <%= month_abbrev(@period.month) %>&nbsp;<span class="caret"></span>
      </a>
      &nbsp;
      <ul class='dropdown-menu'>
        <% month_selector_data(@period).each do |entry| %>
          <li><%= link_to entry[0], period_path(@period.year, entry[1]) %></li>
        <% end %>
      </ul>
    </div>

    <%= link_to subscriptions_path, class: 'btn btn-info', title: _('Inscreva-se para receber notificações por email quando uma nova edição do diário oficial é publicada') do %>
      <span class="glyphicon glyphicon-plus"></span>
      <%= _('email') %>
    <% end %>

  </div>
<% end %>

<%= render partial: 'browse/table' %>
