<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <%#<link rel="shortcut icon" href="../../assets/ico/favicon.png">%>

    <title><%= [yield(:title), site_title].reject(&:blank?).join(' — ') %></title>

    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= csrf_meta_tags %>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Wrap all page content here -->
    <div id="wrap">

      <!-- Fixed navbar -->
      <div class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="<%= root_path %>"><%= _('DIÁRIO OFICIAL') %></a>
          </div>
          <div class="collapse navbar-collapse">
            <form class='navbar-form navbar-right form-inline' action="<%= search_path %>">
              <div class="input-group">
                <%= text_field :search, :query, placeholder: "Pesquisa", class: "form-control" %>
                <div class="input-group-btn">
                  <input class="btn btn-default" type="submit" value="<%= _('Pesquisar') %>"/>
                </div>
              </div><!-- /input-group -->
            </form>
          </div><!--/.nav-collapse -->
        </div>
      </div>

      <%= yield(:banner) %>

      <!-- Begin page content -->
      <div class="container">
        <div class="page-header">
          <h1><%= yield(:title) %></h1>
          <%= yield(:header) %>
        </div>
        <%= yield %>
      </div>
    </div>

    <div id="footer">
      <div class="container">
        Copyright © 2013-2014 Prefeitura de Vitória da Conquista.
        Este site utiliza o software livre
        <a href="https://gitlab.com/colivre/urbo">Urbo</a>, licenciado sob a
        licença Affero GNU General Public License versão 3 ou superior.
      </div>
    </div>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
